<<<<<<< HEAD
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    }

    .container {
    text-align: center;
    }

    h1 {
    color: #333;
    }

    .countdown {
    font-size: 2em;
    margin-top: 20px;
    }
=======
@use 'hero';
@use 'components/infos_bar';
@use 'components/buttons';
@use 'event';
@use 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    color: variables.$textColor;
    list-style: none;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 640px) {
        max-width: 80%;
    }

    @media (max-width: 1024px) {
        max-width: 90%;
    }
}
>>>>>>> f39e57f24edef5f62a6d4105ee5e266d709ff036
